body {
  background: #AC474B;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.container {
  position: relative;
  top: 47px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hat {
  background: #0E1F2B;
  width: 40px;
  height: 15px;
}

.hat:nth-child(2) {
  background: #FFFFFF;
  height: 10px;
}
.hat:nth-child(4) {
  height: 5px;
   width: 60px;
}

.head {
  background: #FFFFFF;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  top: 40px;
  position: absolute;
  z-index: -1;
}

.eye {
  background: #0E1F2B;
  height: 10px; 
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  overflow: hidden;
  border-width: 2px solid #0E1F2B;
}

.eye-lid {
  width: 10px;
  height: 5px;
  position: absolute;
  background-color: #FFFFFF;
  /* margin: 1px 0; */
}

.eye .eye-lid.upper {
  top: -10px;
}

.eye .eye-lid.lower{
  bottom: -10px;
}

.eye.left {
  left: 15px;
}

 .eye.right {
  right: 15px;
}

.neck {
  background: #AC474B;
  position: absolute;
  padding: 3px;
  height: 10px;
  width: 70px;
  top: 85px;
  display: flex;
  justify-content: center;
}

.neck div {
width: 60px;
  background: #FFA63F;
  height: 10px;
  position: absolute;
  border-radius: 10px;
}

.body {
   width: 100px;
  height: 100px;
  background: #FFFFFF;
  position: absolute;
  top: 90px;
  z-index: -1;
  border-radius: 50%;
}