* {
  box-sizing: border-box;
}

  body {
    background: #998235;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
   	position: relative;
  }
  
  .row {
    display:flex;
  }
  
  .wing {
    background: #FFFFFF;
    width: 75px;
    height: 75px;
    border-radius: 50% 50% 0 50% ;
  }
  
  .wing:nth-child(2) {
    border-radius: 50% 50% 50% 0;
  }
  
  .main {
    height: 75px;
    width: 150px;
    background: #EFF33C;
    border-radius: 45px;
    position: relative;
    overflow: hidden;
  }
  
  .stripe {
    height: 100%;
    width: 25px;
    background: #191919;
    position: absolute;
  }
  
  .stripe:nth-child(1) {
    width: 30px;
  }
  
  .stripe:nth-child(2) {
    left: 35px;
  }
  
 .stripe:nth-child(3) {
    left: 70px;
  }
  
  .eye {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    background: #191919;
    right: 20px;
    top: 20px
  }