body {
  margin: 0;
  height: 100vh;
  background: #6592CF;
}

body, .container, .outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 250px;
  height: 250px;
  background: #243D83;
}

.outer {
  background: #6592CF;
  height: 150px;
  width: 150px;
  transform: rotate(15deg)
}

.inner {
  background: #243D83;
  height: 75px;
  width: 75px;
  transform: rotate(15deg)
}