* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #998235;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  background: #191919;
  border-radius: 10px;
  width: 180px;
  height: 100px;
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: flex-end;
  
}

.w {
  position: relative;
  background: #FFFFFF;
  border-radius: 5px;
  width: 20px;
  height: 70px;
  padding: 4px;
  display: flex;
}

.w::after, .w::before {
  content: "";
  width: 5px;
  height: 35px;
  position: absolute;
  background: #191919;
  top: 0;
}

.w::before {
  left: 0px;
}

.w::after {
  right: 0;
}

.w:nth-child(1)::before,
.w:nth-child(4)::before
{
  display: none;
}

.w:nth-child(3)::after,
.w:nth-child(7)::after
{
  display: none;
}